// Reset CSS
// @import "globals/_reset.scss";

// Base file contains all the global styles
// @import "globals/_base.scss";



// Header & Footer
@import "sections/_header.scss";
@import "sections/_footer.scss";

// Pages
@import "pages/_home.scss";

// a {
//   color: red;
// }

._homep {
  .pill {
    border-radius: 10px;
    text-align: left;
    border: 1px solid #ddd;
    padding: 5px;
  }
}

#p-logo a {
  background: image-url("wiki-logo.png") !important;
}