/* line 1, ../_base.scss */
#p-logo a {
  background-image: url('../../images/wiki-logo.png?1332285590') !important;
}

/* line 2, ../_home.scss */
#_homepage .pill {
  border-radius: 10px;
  text-align: left;
  border: 1px solid #ddd;
  padding: 5px;
}
